---
import Layout from '@/layouts/Layout.astro'
import { Button } from '@/components/ui/button'
---

<Layout title="astro">
  <main
    class="flex min-h-screen flex-col items-center justify-center space-y-4 px-2"
  >
    <h1 class="border p-4">Luge dan</h1>
    <Button variant="default" size="sm">Hello World</Button>
  </main>
</Layout>
